<% if flash[:message] %>
<div class="flash">

<%= flash[:message] %>
</div>
<% end %>

<body id="login_page">

  <div class="login_container">

    <h1>Teacher Login</h1>

    <%= form_tag '/teacher_login' do %>
    <%= label_tag "Username:" %>
    <%= text_field_tag :username %>
    <%= submit_tag "Login" %>
    <% end %>

  </div>

</body>
