<% if flash[:message] %>
<div class="flash-success">
<%= flash[:message] %>
</div>
<% end %>
<div class="lesson-container" >
<% if @waiting_for_approval.empty? && @active_lessons.empty? && @inactive_lessons.empty? %>
<div class="lesson-col" >
<h2>You have no lessons</h2>
<br>
<h4>Browse for lessons <a href="/hobbies">here</a></h4>
</div>
<% end %>

<% unless @waiting_for_approval.empty? %>
<div class="lesson-col" >
<h2>Lessons waiting for approval</h2>
<ul>
<% @waiting_for_approval.each_with_index do |lesson, index| %>
<li>
   <p><strong>Lesson:</strong> <%= lesson.teacher.hobby.subclass %></p><br>
   <p><strong>Teacher:</strong>  <%= lesson.teacher.name %></p><br>
   <p><strong>Location:</strong>  <%= lesson.location %></p><br>
   <p><strong>Time:</strong>  <%= lesson.time %></p><br>
   <%= button_to "Book another lesson with #{lesson.teacher.name}", teacher_path(lesson.teacher.id), method: :get %>
   <%= button_to "Book another #{lesson.teacher.hobby.name} lesson", hobby_path(lesson.teacher.hobby.id), method: :get %>
   <% if index > 1 %>
   <% end %>
</li>
<% end %>
</ul>
</div>
<% end %>

<% unless @active_lessons.empty? %>
<div class="lesson-col" >
<h2>Active Lessons</h2>
<ul>
<% @active_lessons.each do |lesson| %>
<li>
   <p><strong>Lesson:</strong> <%= lesson.teacher.hobby.subclass %></p><br>
   <p><strong>Teacher:</strong>  <%= lesson.teacher.name %></p><br>
   <p><strong>Location:</strong>  <%=link_to lesson.location, "https://www.google.com/maps/place?key=AIzaSyDOUcbahii5R7DYZijNP94JlsGpg0ARcBY&q=#{lesson.location}" %></p><br>
   <p><strong>Time:</strong>  <%= lesson.time %></p><br>
   <p><strong>Price:</strong>  $<%= lesson.teacher.rates %></p><br>
   <% if lesson.request == false %>
    <%= button_to "Request Cancelation", request_cancel_path(lesson), method: :post, data: {confirm: "Are you sure?"} %>
    <% elsif lesson.request == true %>
    <%= button_to "Request Cancelation Pending", request_cancel_path(lesson), disabled: true, class: "button-disabled" %>
    <% end %>
   <%= button_to "Book another lesson with #{lesson.teacher.name}", teacher_path(lesson.teacher.id), method: :get %>
   <%= button_to "Book another #{lesson.teacher.hobby.name} lesson", hobby_path(lesson.teacher.hobby.id), method: :get %>
</li>
<% end %>
</ul>
</div>
<% end %>

<% unless @inactive_lessons.empty? %>
<div class="lesson-col" >
<h2>Canceled Lessons</h2>
<ul>
<% @inactive_lessons.each do |lesson| %>
<li>
   <p><strong>Lesson:</strong> <%= lesson.teacher.hobby.subclass %></p><br>
   <p><strong>Teacher:</strong>  <%= lesson.teacher.name %></p><br>
   <p><strong>Location:</strong>  <%= lesson.location %></p><br>
   <p><strong>Time:</strong>  <%= lesson.time %></p>
   <%= button_to "Book another lesson with #{lesson.teacher.name}", teacher_path(lesson.teacher.id), method: :get %>
   <%= button_to "Book another #{lesson.teacher.hobby.name} lesson", hobby_path(lesson.teacher.hobby.id), method: :get %>
</li>
<% end %>
</ul>
<%= button_to "Clear Canceled Lessons", clear_lessons_path(@student), method: :delete, data: { confirm: "Are you sure?"} %>
</div>
<% end %>
</div>
