<% if flash[:message] %>
  <% flash[:message].each do |message|%>
    <%= message %><br>
  <% end %>
<% end %>

<div class="form-container">

<h1>New Student</h1>

<%= form_for @student do |f| %>
<%= f.label :username %><br>
<%= f.text_field :username, class: "form-control" %>
<%= f.label :name %><br>
<%= f.text_field :name, class: "form-control" %>
<%= f.label :age %><br>
<%= f.number_field :age, class: "form-control" %>
<%= f.label :email %><br>
<%= f.text_field :email, class: "form-control" %>
<%= f.label :profile_image %><br>
<%= f.file_field :profile_image, class: "file-field" %>
<%= f.submit "Submit", class: "btn btn-success" %>
<% end %>

</div>
