<h1>Add New Timeslot</h1>

<div class="form-container">

  <% if flash[:message] %>
  <div class="flash">
    <%= flash[:message] %>
  </div>
  <% end %>


<%= form_tag('/bookings', method: :post) do %>
  <%= label_tag "Day"%>
  <%= select_tag :day, options_for_select(@days)%>
  <%= label_tag "Time"%>
  <%= select_tag :time, options_for_select(@times)%>
  <%= submit_tag "Add New Booking" %>
<% end %>

</div>
