<h1>All Classes for <%= @category %></h1>

<%= form_tag("/hobbies/show/#{@category}", method: :get) do %>
  <%= text_field_tag :search %>
  <%= submit_tag "Search" %>
<% end %>

Search by Hobby Name:
<%= form_tag("/hobbies/show/#{@category}", method: :get) do %>
  <%= select_tag :search, options_for_select(@hobby_names)%>
  <%= submit_tag "Search" %>
<% end %>

<%= button_to "Sort by Popularity", "/hobbies/#{@category}/by_popularity", :method => :get %>


<% @hobbies.each do |hobby| %>
<div class="card">
<ul>
      <a href="<%=hobby_path(hobby)%>"><img src="<%=hobby.image_url%>" alt="Hobby Image" style="width:90%"><br></a>
      <div class ="container">
      <h4><%= hobby.name %></h4>
      <p><%= hobby.subclass %></p>
      </div>
</ul>
</div>
<% end %>
