<h1><%= @hobby.name %></h1>

<%= button_to "Go Back to Browse", {:action => "index"}, :method => :get %>

<% @teachers.each do |teacher| %>
<div class="card">
<ul>
      <a href="<%=teacher_path(teacher)%>">
        <% if teacher.profile_image.attached? %>
        <img src="<%=(url_for(teacher.profile_image))%>" alt="profile_image">
        <% else %>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTUpLmfyUcrCGYWlPbeABQ5-iDAHTkieFkgDJFI6l48lZSKPGhKWQ" alt="profile_image">
        <% end %>
      </a>
      <div class ="container">
      <h4><%= teacher.name %></h4>
      <p><%= teacher.title %> </p>
      <p>$<%= teacher.rates %>/hour</p>
      </div>
</ul>
</div>
<% end %>
