<h1>Edit Teacher</h1>

<%= form_for @teacher do |f| %>
  <%= f.label "Username: " %>
  <%= f.text_field "username" %>
  <%= f.label "Name: " %>
  <%= f.text_field "name" %>
  <%= f.label "Title: " %>
  <%= f.text_field "title" %>
  <%= f.label "Bio: " %>
  <%= f.text_area "bio" %>
  <%= f.label "Profile Photo: " %>
  <%= f.file_field "profile_image" %>
  <%= f.label "Location: " %>
  <%= f.text_field "location" %>
  <%= f.label "Rates: " %>
  <%= f.number_field "rates" %>
  <%= f.label "Teaching: " %>
  <%= f.collection_select(:hobby_id, @hobbies, :id, :subclass, prompt: "Select Hobby" ) %>
  <%= f.submit %>
<% end %>
