<div class="hobby_index_header">
<h1>What is your Hobby?</h1>
</div>

<div class="create_new_hobby_container">

<p class = "create_hobby_title">Create a New Hobby if you can't find below!</p>
  <div class="search_button">
    <%= button_to "Create New Hobby", '/hobbies/new', :method => :get %><br>
  </div>
</div>

<div class="hobby_search_bar">
  <%= form_tag("/select_hobby", method: :get) do %>
    <%= text_field_tag :search %>
    <%= submit_tag "Search" %>
  <% end %>
</div> 

<div class="hobby_container">
<% @hobbies.each do |hobby| %>
<div class="card">
<ul>
      <a href="/teachers/<%=hobby.id%>/create_profile">
        <% if hobby.image_url.attached? %>
          <img src="<%= (url_for(hobby.image_url))%>" alt="Hobby Image" style="width:90%"><br></a>
        <% else %>
          <% image_show = hobby.default_image %>
          <img src="<%= image_show %>" alt="Hobby Image" style="width:90%"><br></a>
        <% end %>
      <div class ="container">
      <h4><%= hobby.subclass %></h4>
      <p><%= hobby.name %></p>
      </div>
</ul>
</div>
<% end %>
</div>
