<% if flash[:message] %>
<h1><%= flash[:message] %></h1>
<% end %>

<h1><%= @teacher.name %>'s Profile Page</h1>

<% if @teacher.profile_image.attached? %>
<img src="<%=(url_for(@teacher.profile_image))%>" alt="profile_image">
<% else %>
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTUpLmfyUcrCGYWlPbeABQ5-iDAHTkieFkgDJFI6l48lZSKPGhKWQ" alt="profile_image">
<% end %>

<h3><%= @teacher.hobby.name %></h3>
<h4><%= @teacher.hobby.subclass %></h4>

<h3>Bio:</h3>
<%= @teacher.bio %>

<h3>Location:</h3>
<%= @teacher.location %>

<h3>Rates:</h3>
$<%= @teacher.rates %>/hour

<% if session[:user_id] == @teacher.id %>
  <% unless @teacher.timeslots.empty? %>
    <h3>Your available Timeslots</h3>
    <% @teacher.bookings.each do |booking| %>
      <% if booking.status == "Available" %>
        <p><%= booking.timeslot.timeslot %></p>
      <% end %>
    <% end %>
  <% else %>
    no timeslots
  <% end %>
<% else %>
  <h3>Book Lesson</h3>

  <% if !@timeslots.empty? %>
  <%= form_for @lesson do |f| %>
    <%= f.select :time, @timeslots %>
    <%= f.hidden_field :location, value: "#{@teacher.location}"%>
    <%= f.hidden_field :teacher_id, value: "#{@teacher.id}"%>
    <%= f.hidden_field :student_id, value: "#{@student.id}" %>
    <%= f.submit "Book" %>
  <% end %>
  <% else %>
    <p>Currently no available bookings</p>
  <% end %>
<% end %>

<% if session[:user_id] == @teacher.id %>
<%= link_to "Add Timeslot", '/timeslots/new' %>
<% end %>
<h3>Reviews:</h3>
<% unless @reviews.empty? %>
<ul>
  <% @reviews.each do |review| %>
    <li>
      <img src="<%= review.student.profile_image%>" alt=""><br>
      Student: <%= review.student.name %><br>
      Rating: <%= review.rating %><br>
      Content: <%= review.content %><br>
      <% if session[:user_id] == review.student.id %>
      <%= button_to "Delete", delete_review_path(review), method: :delete, data: {confirm: "Are you sure?"} %>
      <%= button_to "Edit", edit_review_path(review), method: :get %>
      <% end %>
    </li>
  <% end %>
</ul>
  <% else %>
    <p>No reviews</p>
  <% end %>

  <% if session[:user_id] == @teacher.id %>
  <%= button_to "Edit Profile", "#{teachers_path}/#{@teacher.id}/edit", :method => :get %>
  <%= button_to "Delete Profile", @teacher, method: :delete, data: { confirm: "Are you sure?"} %>
  <% end %>
  <% if session[:user_path] == "student" %>
  <%= button_to "Add Review", new_review_path(@teacher), :method => :get %>
  <% end %>

<%= button_to "Main Page", {:action => "index"}, :method => :get %>
