<h1><%= @teacher.name %>'s Profile Page</h1>

<img src="<%=@teacher.profile_image%>" style="width:300px" alt="Profile Photo">


<h3><%= @teacher.hobby.name %></h3>
<h4><%= @teacher.hobby.category %></h4>

<h3>Bio:</h3>
<%= @teacher.bio %>

<h3>Rates:</h3>
$<%= @teacher.rates %>/hour

<h3>Available Timeslots</h3>

<%= link_to "Book a Lesson", "/book/#{@teacher.id}" %>

<h3>Reviews:</h3>
<% unless @reviews.empty? %>
<ul>
  <% @reviews.each do |review| %>
    <li>
      Student: <%= review.student.name %>
      <img src="<%= review.student.profile_image%>" alt=""><br>
      Rating: <%= review.rating %><br>
      Content: <%= review.content %><br>
    </li>
  <% end %>
  <% else %>
    <p>No reviews</p>
  <% end %>
</ul>

<%= button_to "Add Review", new_review_path(@teacher), :method => :get %>

<%= button_to "Main Page", {:action => "index"}, :method => :get %>
