<!DOCTYPE html>
<html>
  <head>
    <title>KnowMatterApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <ul>
        <% if session[:user_id] %>
          <% if session[:user_type] == "student" %>
          <li><a href="/welcome">Home</a></li>
          <% elsif session[:user_type] == "teacher" %>
          <li><a href="/teacher_welcome">Home</a></li>
          <% end %>
        <% end %>
        <li><a href="/hobbies">Browse</a></li>

        <% if session[:user_id] %>
          <% if session[:user_type] == "student" %>
          <li><a href="/students/<%= session[:user_id] %>">My Profile</a></li>
          <% elsif session[:user_type] == "teacher" %>
          <li><a href="/teachers/<%= session[:user_id] %>">My Profile</a></li>
          <% end %>
          <li><%=link_to "Logout", logout_path, method: :delete %></li>
        <% else %>
          <li><%=link_to "Sign Up", new_student_path, method: :get %></li>
        <% end %>
      </ul>
    </nav>
    <%= yield %>

    <footer>
      <ul>
        <li><%=link_to "Teacher Login", teacher_login_path %></li>
        <li><%=link_to "Become a Teacher", new_teacher_path %></li>
      </ul>
    </footer>
  </body>
</html>
